body {
    width:100%;
    position: relative;
    max-width: 1210px;  /*widest page will get.*/
    min-width: 380px;  /*minimum width - average cell ph.*/
    margin: 0.25em auto 0.25em auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
article, aside, figcaption, figure, footer, header, nav, section
{
    display: block;
}

section.aside {
    float: left;
    /*width: 69%;*/
    min-width: 380px;
    max-width: 837px;  /* ~70% of body width */
}

aside {
    float: right;
    /*width: 30%;*/
    text-align: center;
    margin: 5px 5px;
    min-width: 200px;
    max-width: 360px; /* ~30% of body width */
    background-color: #E1E1E1;
}

.floatright {
    float: right;
    height: 90px;
    width: 437px;
}

/* added class full for full page width text */
section.full {
    width: 100%;
}

/* added class to create two columns left and right. */
section.left {
    width: 48%;
    float: left;
}

/* added class to create two columns left and right. */
section.right {
    width: 48%;
    float: right;
}

aside h3{
    text-align: center;
}

aside img {
    display: block;
    margin-left: auto;  /* display block with margin left right to auto, centers */
    margin-right: auto;
}

footer {
    clear: both;
    margin: 0.25em auto 0.25em auto;
}
article {
    clear: both;
    /*margin-top: 4em;*/
}
article p {
    color: #404040;
}
article h3, h4, h5, h6 {
    color: #006060; 
}
header {
    width: 100%;
    border: thin solid #006060;
    background-color: #E1E1E1;
    margin: 0;
    padding: 0.25em;
    text-align: center;
    color: #006060;
    height: 6.8em; 
    overflow: hidden;
}

header h1 img {
    display: block;
    float: left;
    vertical-align: central;
}

footer {
    border: thin solid #006060;
    background-color: #E1E1E1;
    margin: 0;
    padding: 0.25em;
    color: #006060;
}
footer {
    font-size: x-small;
}
#navspace {
    width: 100%;
    height: 4em;
}

